model {
  faster_rcnn {
    num_classes: 5
    image_resizer {
      fixed_shape_resizer {
        height: 600
        width: 600
      }
    }
    feature_extractor {
      type: "faster_rcnn_resnet50"
      first_stage_features_stride: 8
    }
    first_stage_anchor_generator {
      grid_anchor_generator {
        scales: [0.05, 0.1, 0.25, 0.5, 0.75, 1.0, 2.0, 4.0]
        aspect_ratios: [0.5, 1.0, 2.0]
        height_stride: 8
        width_stride: 8
      }
    }
    first_stage_box_predictor_conv_hyperparams {
      op: CONV
      regularizer {
        l2_regularizer {
          weight: 0.0
        }
      }
      initializer {
        truncated_normal_initializer {
          stddev: 0.00999999977648
        }
      }
    }
    first_stage_nms_score_threshold: 0.0
    first_stage_nms_iou_threshold: 0.699999988079
    first_stage_max_proposals: 500
    first_stage_localization_loss_weight: 2.0
    first_stage_objectness_loss_weight: 1.0
    initial_crop_size: 14
    maxpool_kernel_size: 2
    maxpool_stride: 2
    second_stage_box_predictor {
      mask_rcnn_box_predictor {
        fc_hyperparams {
          op: FC
          regularizer {
            l2_regularizer {
              weight: 0.0
            }
          }
          initializer {
            variance_scaling_initializer {
              factor: 1.0
              uniform: true
              mode: FAN_AVG
            }
          }
        }
        use_dropout: false
        dropout_keep_probability: 0.5
      }
    }
    second_stage_post_processing {
      batch_non_max_suppression {
        score_threshold: 0.300000011921
        iou_threshold: 0.600000023842
        max_detections_per_class: 500
        max_total_detections: 500
      }
      score_converter: SOFTMAX
    }
    second_stage_localization_loss_weight: 1.0
    second_stage_classification_loss_weight: 1.0
  }
}
train_config {
  batch_size: 8
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
  data_augmentation_options {
    random_vertical_flip {
    }
  }
  data_augmentation_options {
    random_jitter_boxes  {
        ratio: 0.2
    }
  }
  optimizer {
    adam_optimizer: {
        learning_rate {
            cosine_decay_learning_rate {
              learning_rate_base: 0.00039999998989515007
              total_steps: 25000
              warmup_learning_rate: 0.00013000000035390258
              warmup_steps: 1000
            }
        }
    }
  }
  gradient_clipping_by_norm: 10.0
  fine_tune_checkpoint: "ckpt/model.ckpt"
  from_detection_checkpoint: true
  num_steps: 15000
}
train_input_reader {
  label_map_path: "/data/Datasets/EIPH_WSI/RCNN-Patches/600_1_API/label_map.pbtxt"
    num_readers: 2
  tf_record_input_reader {
    input_path: "/data/Datasets/EIPH_WSI/RCNN-Patches/600_1_API/train/*.tfrecord"
  }
}
eval_config {
  metrics_set: "pascal_voc_detection_metrics"
  visualize_groundtruth_boxes: true
  num_examples: 1000
  max_evals: 100
  min_score_threshold: 0.1
  use_moving_averages: false
  max_num_boxes_to_visualize: 500
}
eval_input_reader {
  label_map_path: "/data/Datasets/EIPH_WSI/RCNN-Patches/600_1_API/label_map.pbtxt"
  shuffle: true
  num_readers: 1
  tf_record_input_reader {
    input_path: "/data/Datasets/EIPH_WSI/RCNN-Patches/600_1_API/val/*.tfrecord"
  }
}
